# Arquivos de configuração específicos do Visual Studio
.vs/

# Arquivos intermediários de compilação
obj/
bin/
*.exe
*.dll
*.pdb
*.userprefs

# Arquivos de pacotes NuGet
packages/

# Arquivos de build
build/
